# --- ОС и редакторы кода (самое важное) ---

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code (настройки рабочего пространства конкретного пользователя)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json


# Другие IDE
.idea/
*.swp
*.swo


# --- Секреты и окружение (КРИТИЧНО) ---

# переменные окружения
.env
.env.local
.env.production

# --- Временные файлы и логи ---

# Логи npm/yarn (если вдруг установишь пакетный менеджер)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папка зависимостей  
node_modules/

# Сборщики и инструменты

# Vite, Webpack, Parcel, Gulp и т.д.
dist/
build/
coverage/
.vs/



